body {
    background-color:#f1f1f1;
    overflow: hidden;
}
    
.flex-container {
    display:flex;
    justify-content: space-evenly;
    flex-direction:column;
    align-items: center;
    height:350px;
}

.flex-container > div {
    text-align: center;
    width:300px;
    margin:10px;
}   

button {
    border-radius:25px;       
    background-color: rgb(12, 245, 129);
    font-size:16px;
}

.lore, .present, .credits {
    display: none;
}

.buttonDiv, .credits, .end {
    display: none;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh;
}

.buttonDiv > button {
    color: white;
    font-size: 50px;
    background-color: red;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
}